// ============================================================
// Attachments & Conversations
// ============================================================

.attachment-item {
    font-family: monospace;
    color: gray;

    button {
        background: none;
        border: none;
    }
}

.google-scholar-search-results,
.attachment-content {
    margin-bottom: 10px;
    border-radius: $border-radius;
    padding: 10px;
    max-height: 100px;
    font-size: 0.7em;
    overflow-y: auto;
    background-color: #cfd8dc;
}

#attachment-heading,
#conversation-heading {
    min-height: 40px;
}

.attachment-filename,
.conversation-title {
    color: #0077cc;
    cursor: pointer;
    text-decoration: underline;
}

.attachment-upload {
    position: relative;
    margin-top: 20px;
}

.file-upload-wrapper {
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.file-upload-input {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.file-upload-button {
    border: 1px solid $color-border;
    border-radius: $border-radius;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;

    .fa-cloud-upload-alt {
        margin-right: 8px;
    }
}

#uploadMessage {
    margin-bottom: 20px;
}
