#code-editor-options {
	background-color: $color-bg;
	border-radius: 4px 0px 0px 0px;
	button {
		color: $color-fg;
	}
	select {
		margin-bottom: 0px;
		&:focus,
		&:active, {
			color: $color-fg-menu-button-selected;
		}
	}
}