#code-editor-options {
	border-radius: 4px 0px 0px 0px;
	button {
		color: $color-fg;
	}
	select {
		margin-bottom: 0px;
		&:focus,
		&:active, {
			color: $color-fg-menu-button-selected;
		}
	}
}

#show-workspace button {
    background-color: $color-bg-reload-button;
    color: $color-fg-reload-button;
    padding: 5px;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 10px;
    width: 100%;
    transition: background-color 0.3s;

    &:hover {
        background-color: $color-hover-reload-button;
    }
}