<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page_title }}</title>
        <style>{% include 'stylesheet.css.jinja' %}</style>
        <link rel="stylesheet" href="static/pygments.css">
        <link rel="icon" type="image/svg" href="static/favicon.svg">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script>{% include 'main.js' %}</script>
    </head>
<body>
    {% include 'header.html' %}
    <div id="container">
        <div id="chat-area">
            <div id="response">{{ message_history | safe }}</div>
            <div id="loading-message"></div>
            <div id="message-box">
                <div id="message-container">
                    <textarea id="message" placeholder="Enter your message"></textarea>
                    <button id="send" disabled><i class="fas fa-paper-plane"></i></button>
                </div>
            </div>
            <div id="message-counter" style="text-align: right;"></div>
        </div>
        <div id="footer-bar">
            v{{ version}}
            // Copyright 2023 Sebastiaan Mathôt
            // <a href='https://github.com/smathot/heymans-ai-tutor'>Open source GPL3</a>
            // <a href="/clear">Clear message history</a>
            // <a href="/logout">Log out</a>
        </div>
    </div>
</body>
</html>
