<!DOCTYPE html>
<html>
{% include 'head.html' %}
<body>
    <script>{% include 'main.js' %}</script>
    {% include 'header.html' %}
    {% include 'menu.html' %}
    <div id="container">
        <div id="chat-area">
            <div id="response">{{ message_history | safe }}</div>
            <div id="loading-message"></div>
            <div id="message-box">
                <div id="message-container">
                    <textarea id="message" placeholder="Enter your message"></textarea>
                    <button id="send" disabled><i class="fas fa-paper-plane"></i></button>
                    <button id="cancel"><i class="fas fa-stop-circle"></i></button>
                </div>
            </div>
            <div id="message-counter" style="text-align: right;"></div>
        </div>
        {% include 'footer.html' %}
    </div>
</body>
</html>
