<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page_title }}</title>
        <link rel="stylesheet" href="stylesheet.css">
        <link rel="stylesheet" href="static/pygments.css">
        <link rel="icon" type="image/svg" href="static/favicon.svg">
    </head>
<body>
    {% include 'header.html' %}
    <div id="container">
        <div id="library">
        Library info
        </div>
        {% include 'footer.html' %}
    </div>
</body>
</html>
