<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page_title }}</title>
        <link rel="stylesheet" href="stylesheet.css">
        <link rel="stylesheet" href="static/pygments.css">
        <link rel="icon" type="image/svg" href="static/favicon.svg">
    </head>
<body>
    {% include 'header.html' %}
    <div id="container">
        <div id="login">
            <div id="start-text">{{ login_text|safe }}</div>
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                {{ form.username.label }} {{ form.username() }}
                </div>
                <div class="form-group">
                {{ form.password.label }} {{ form.password() }}
                </div>
                <div class="form-group">
                {{ form.submit() }}
                </div>
            </form>
        </div>
        {% include 'footer.html' %}
    </div>
</body>
</html>
