<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page_title }}</title>
        <link rel="stylesheet" href="stylesheet.css">
        <link rel="stylesheet" href="static/pygments.css">
        <link rel="icon" type="image/svg" href="static/favicon.svg">
        <script src="main.js"></script>
        <script src="practice.js"></script>
    </head>
<body>
    {% include 'header.html' %}
    <div id="container">
        <div id="start-info">
        {% include 'start-info.html' %}
        </div>
        <div id="chat-area" style="display:none;">
        {% include 'chat-area.html' %}
        </div>
        {% include 'footer.html' %}
    </div>
</body>
</html>
