<div id="start-text">
{{ ai_name }} is a friendly AI tutor who will help you study through questions and dialogue. Simply enter your name and student number, select a course and chapter, and get started!
<br /><br />
Conversations with {{ ai_name }} are not confidential, and may be reviewed by lecturers.
</div>

<div class="form-group">
    <label for="chatmode">I want to …</label>
    <select id="chatmode">
        <option value="practice">Practice</option>
        <option value="qa">Ask a question</option>
    </select>
</div>
<div class="form-group" id="courseGroup">
    <label for="course">Course</label>
    <select id="course">
    </select>
</div>
<div class="form-group" id="chapterGroup">
    <label for="chapter">Chapter</label>
    <select id="chapter">
    </select>
</div>
<div class="form-group">
    <button id="start">Start conversation</button>
</div>
