<!DOCTYPE html>
<html>
{% include 'head.html' %}
<body>
    {% include 'header.html' %}
    {% include 'sign-out.html' %}
    <div id="container">
        <div id="about">
            <div id="start-text">
            <p>Thank you for subscribing to Sigmund AI!</p>
            <p>
                <a href="/" class="link-button">
                    <i class="fas fa-comments"></i></i> Let's talk!
                </a>
            </p>
        </div>
        {% include 'footer.html' %}
    </div>
</body>
</html>
