<p>
    Nice to meet you! I'm Sigmund, your friendly AI assistant. How can I help you?
</p>

<div class="instructions mask">
    <details>
          <summary>I want to perform a complex, multi-step task</summary>
          <p>
              First, enable the Memento tool (Menu → Tools). This allows Sigmund to create persistent notes to keep track of the task. Next, provide clear instructions and ask Sigmund to store both these instructions and a todo-list as persistent notes.              
          </p>
    </details>
    <details>
          <summary>I want to work with attachments</summary>
          <p>
              When you attach a file to a message, it is only available to Sigmund while responding to that message. To discuss the attachment across multiple message turns, ask Sigmund to put (a description of) the attachment in the workspace.
          </p>
    </details>
    <details>
          <summary>I want to perform a literature review</summary>
          <p>
              First, enable the OpenAlex tool (Menu → Tools). <a href="https://openalex.org/" target="_blank">OpenAlex</a> is a database that contains most scientific articles. Next, ask Sigmund to search for articles about your topic of interest. For some articles, Sigmund can download the full text. For others, Sigmund only has access to the abstract.
          </p>
          <p>
              The example prompt below is a good start if you want Sigmund to autonomously perform a literature review. Sigmund may pause intermittently, in which case you can simply ask him to continue or provide guidance.
          </p>
          <p><i>
              We're going to review the literature on cognitive offloading as a result of AI use. Please create an overview note that contains a summary of your findings. Initialize the overview note with your own understanding of the topic, without looking anything up yet. Then iteratively search for scientific articles. If you find relevant articles, immediately update the overview note. This is important, because the workspace will be overwritten when you perform another search. Similarly, when you download the full text of an article, immediately update the overview note. Continue your literature review until you can no longer find relevant articles. At that point, stop and provide me with a summary. Before you start, save these instructions as a persistent note.
          </i><p/>
    </details>
    <details>
          <summary>I want to create a psychology or neuroscience experiment</summary>
          <p>                
              <a href="https://osdoc.cogsci.nl/" target="_blank">OpenSesame</a> is open-source software for creating psychology and neuroscience experiments. You can talk to Sigmund using the chat interface inside OpenSesame. Sigmund can work on an experiment with you, and even build an entire experiment from scratch.
          </p>
    </details>
    <details>
          <summary>I want to analyze data</summary>
          <p>  
              <a href="https://github.com/open-cogsci/sigmund-analyst" target="_blank">Sigmund Analyst</a> is a code editor focused on data analysis with Python. You can talk to Sigmund using the chat interface inside Sigmund Analyst. If you prefer to work with JupyterLab (also called notebook or IPython), install the <a href="https://github.com/open-cogsci/jupyter-extension-sigmund" target="_blank">Sigmund Jupyter extension</a>.
          </p>
    </details>
    <details>
          <summary>I want to edit or create an image</summary>
          <p>                
              First, enable the Flux.2 tool (Menu → Tools). Flux.2 is an image-generation model by <a href="https://bfl.ai/" target="_blank">Black Forest Labs</a>. Next, ask Sigmund to generate an image. To edit an existing image, attach the image and ask Sigmund to edit it.
          </p>
    </details>
</div>
